/* ------- whole page ------- */
* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgb(254, 251, 233);
}

.div_header_title {
  margin: auto;
  color: #183a1d;
  padding: 1em;
  text-align: center;
}

.div_form_and_itemlist {
  margin: 0 3%;
  padding-top: 1%;
}

p {
  margin: 10px;
  background-color: #fff;
}

button {
  cursor: pointer;
}

label {
  background-color: #fff;
}

/* ------- form AND filter ------- */
.div_form_and_filter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ------- form ------- */

.div_input_form,
.div_filters {
  background: #fff;
  box-shadow: 0 0 15px rgb(0 0 0 / 22%);
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0 0 15px rgb(0 0 0 / 22%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  float: left;
  justify-content: space-between;
  margin: 1%;
  padding: 30px;
  padding-bottom: 12px;
  width: 70%;
}

.div_input_form h3 {
  width: 110%;
  background: #183a1d;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  font-weight: 100;
  padding: 20px;
  margin: -30px -30px 30px -30px;
}

.input_field {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  font: 16px Arial, Helvetica, sans-serif;
  height: 45px;
}

#description {
  background-color: #fff;
  resize: none;
  overflow: hidden;
}

.div_btn_add_item {
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* ------- filter ------- */
.title_filters {
  width: 110%;
  background: #183a1d;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  font-weight: 100;
  padding: 20px;
  margin: -30px -30px 10px -30px;
}

.div_btn_filters {
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
}

/* ------- item list ------- */

.div_item_complete {
  background-color: #fff;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  padding: 5%;
  width: 220px;
  height: 200px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.div_item_incomplete {
  background-color: #fff;
  display: flex;
  box-shadow: rgb(24 58 59 / 100%) 0px 2px 4px,
    rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset;
  padding: 5%;
  width: 220px;
  height: 200px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.div_itemlist {
  background-color: #fff;
  display: flex;
  float: left;
  flex-direction: row;
  margin: 10px;
}

/* ------- items ------- */

.item_title {
  background-color: rgba(0, 0, 0, 0);
  margin: 0;
  color: #183a1d;
}

.item_description,
.div_item_buttons {
  background-color: rgba(0, 0, 0, 0);
}

.item_not_added {
  background-color: #fff;
  color: #f00;
}

/* ------- buttons ------- */

.btn_add_item,
.btn_filter {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border: #183a1d 3px solid;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  line-height: 23px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn_add_item:hover,
.btn_filter:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.btn_active {
  background-color: #378743;
  color: #fff;
}

.btn_add_item:focus,
.btn_filter:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

.div_item_buttons {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.btn_complete {
  align-items: center;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(24, 58, 29, 0.9) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-size: 14px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.btn_complete:hover,
.btn_complete:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  /* color: rgba(0, 0, 0, 0.65); */
}

.btn_complete:hover {
  transform: translateY(-1px);
}

.btn_complete:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  /* color: rgba(0, 0, 0, 0.65); */
  transform: translateY(0);
}

.btn_incomplete {
  box-shadow: rgba(24, 58, 29, 0.9) 0 1px 3px 0;
}

.btn_delete {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  border-radius: 6px;
  border: none;

  background: #e1eedd;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1),
    inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5),
    0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #000;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn_delete:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2),
    0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}
